h1, p, ul, li{
    margin:0;
    padding:0;
}
ul, li{
    list-style: none;
}
a:link{
    text-decoration: none;
}
button{
    border:none;
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-family: sans-serif;
}
header, content, footer{
    display:block;
    width: 90%;
    max-width: 1440px;
    margin: auto;
}
header, content{
    text-align: center;
}
footer{
    color:grey;
}
header p{
    font-size: 0.8em;
    font-style:italic;
    color: grey;
}
#player-wrapper, #webradio-infos{
    width: 100%;
}
    #player-wrapper{
        margin-top: 2em;
    }
    #player-wrapper .musesStyleReset{
       margin: auto;
    }
    #webradio-infos li{
        width: 50%;
        line-height:2em;
        font-family: "Courier New", sans-serif;
        margin: 1em auto;
        color: grey;
    }
#webradios-lists{
    min-height: 500px;
    margin:auto;
}

button{
    width: 190px;
    height:50px;
    margin:0 7px;
    font-size:0.8em;
    font-weight:bold;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    border-radius: 5px;
    box-shadow: 0 5px #336;
    color: #fff;
}
button:hover{
    background: #1e62d0;
}
button:active{
    background: #1e62d0;
    box-shadow: none;
    transform: translateY(5px);
}

/* genre ordering */
section{
    display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    float:left;
    border-bottom: 1px dotted grey;
    text-align: left;
}
section:last-child{
    border-bottom:0;
}
    section .list-heading{
        width:12%;
        font-size: 0.8em;
        color:grey;
    }
    section ul{
        width:88%;
        list-style-type: none;
    }
    section .list-heading, section ul, section li{
        float:left;
    }
    section li{
        min-height:80px;
    }

    section li a.website-link{
        display: block;
        width: 25%;
        margin-top: 6px;
        margin-left: 67%;
        font-size: 0.6em;
        color: grey;
        text-align: center;
        border-bottom: 1px dotted grey;
        border-left: 1px dotted grey;
        border-right: 1px dotted grey;
    }
    section li a.website-link:hover{
        color:#337fed
    }
