h1,h2,h3, p, ul, li, button{
    margin:0;
    padding:0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: grey;
}
body{
    background-color: white;
    font-family: 'courier', sans-serif;
}
header, content{
    text-align: center;
}
content, footer{
    width: 90%;
    max-width: 1440px;
    margin: auto;
}
content{
    display: block;
    padding-top: 280px;
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 1em;
    background: white;
    border-bottom: 1px solid darkgrey;
    box-shadow: 0 1px 3px grey;
}
    header p{
        font-size: 0.8em;
        font-style:italic;
        color: grey;
    }
    .head{
        width: 100%;
        text-align: center;
    }
        #player-wrapper .musesStyleReset{
            margin: auto;
        }
        #infos-wrapper{
            width: 500px;
            margin: .8em auto 0;
            color: green;
        }
        .info{
            text-align: center;
            padding: .5em 0;
            background: black;
        }
        #webradio-name{
            width: 100%;
            line-height: .8em;
        }
        #webradio-metadata{
            font-weight: bold;
        }
        #webradio-name a{
            color: #ffea59;
        }
        #webradio-metadata a, button:hover{
            color: #eb5b72;
        }
        #webradio-name a:hover, #webradio-metadata a:hover{
            color: whitesmoke;
        }

#webradios-lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section{
    width: 20%;
    margin-bottom: 1.5em;
    overflow-wrap: break-word;
}
    button{
        width: 95%;
        padding: .8em 0;
        margin: .2em 0;
        border: 1px solid lightgray;
        cursor: pointer;
        background: #f2f1f0;
        font-family: helvetica, sans-serif;
    }
    button:hover{
        background: white;
        border: 1px dotted #eb5b72;
    }
footer{
    display: inline-block;
    padding-top: 50px;
    color:grey;
}
